@import url('./variables.css');
@import url('./reset.css');

* {
    font-family: var(--font-urbanist);
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: var(--color--background-white);
}