@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color--black: #1e1e1e;
    --color--black-light: #9a9a9a;
    --color--white: #ffffff;
    --color--white-light: #c4c4c4;
    --color--background-white: #f7f7f7;
    --color--background-black: #100C08;
    --color--gray: #5d5d5d;
    --color--airbnb: #ff5a5f;
    --color--brown: #b05216;
    --color--green: #E42024;

     --color--green-hover: #bb0e11;

    --color--green-surface: #E4202410;
    --color--green-border: #E4202420;

    --color--white-surface: #f1f1f110;
    --color--white-border: #f1f1f120;

    --color--brown-surface: #b0521610;
    --color--brown-border: #b0521620;

    --color--airbnb-surface: #ff5a5f10;
    --color--airbnb-border: #ff5a5f20;

    --color--black-surface: #1e1e1e60;
    --color--black-border: #1e1e1e50;

    --degrade-airbnb: linear-gradient(90deg, #ff5a5f 0%, #993639 100%);

    --font-urbanist: 'Urbanist', sans-serif;

    --border-radius-sm: 10px;
    --border-radius-md: 14px;
    --border-radius-lg: 18px;
    --border-radius-full: 9999px;

    --shadow-sm: 0 0px 2px rgba(0, 0, 0, 0.25);
}